/* Global [Start] */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: url('images/background.png');
}

body::-webkit-scrollbar {
  background-color: #eee;
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background-color: #e5c316;
  min-height: 100px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

::selection {
  background-color: #ffa500;
  color: #fff;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 900px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 670px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 500px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 90%;
  }
}

a {
  text-decoration: none;
  color: #252525;
}

li {
  list-style: none;
}

span {
  display: block;
}

i {
  cursor: pointer;
}

button,
input {
  outline: none;
  background-color: transparent;
}

button {
  border: none;
  user-select: none;
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.error-messages {
  position: fixed;
  bottom: 40px;
  left: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 1000;
}

.error-messages .error-message {
  background-color: #354247;
  color: #fff;
  font-size: 17px;
  padding: 20px 30px;
  transform: translateX(-400px);
  -webkit-transform: translateX(-400px);
  -moz-transform: translateX(-400px);
  -ms-transform: translateX(-400px);
  -o-transform: translateX(-400px);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.error-messages .error-message.active {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

/* Global [End] */








/* Header [Start] */
header .top {
  background-color: #273439;
  padding: 10px 0;
}

.top .info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  user-select: none;
}

.top .info div {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 24px;
  margin-right: 14px;
  cursor: pointer;
}

.top .info a:hover,
.top .info div:hover a {
  color: #fff;
}

.top .info a {
  color: #cccccc;
  text-decoration: underline;
  font-size: 13px;
  transition: color 0.3s;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
}

.top .info i,
footer .bottom .contact i {
  width: 26px;
  height: 26px;
  font-size: 12px;
  background-color: #425056;
  color: #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top .info .sign-in {
  margin-right: 20px;
  gap: 4px;
}

.top .info .sign-in i {
  background-color: transparent;
  color: #aaaaaa;
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}

header .bottom {
  background-color: #354247;
  padding: 10px 0;
  overflow: hidden;
  height: 80px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

header .bottom.active {
  height: 320px;
}

header .bottom .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 992px) {
  header .bottom .container {
    align-items: flex-start;
  }
}

.bottom .logo,
footer .top .logo {
  width: 150px;
  user-select: none;
}

.bottom nav ul {
  display: flex;
  align-items: center;
  gap: 40px;
  user-select: none;
}

@media (max-width: 1200px) {
  .bottom nav ul {
    gap: 20px;
  }
}

@media (max-width: 992px) {
  .bottom nav:not(.mobile) ul {
    display: none;
  }
}

.bottom nav ul li {
  transition: transform 0.4s;
  -webkit-transition: transform 0.4s;
  -moz-transition: transform 0.4s;
  -ms-transition: transform 0.4s;
  -o-transition: transform 0.4s;
}

.bottom nav ul li a,
footer .top nav ul li a {
  color: #babebf;
  font-size: 15px;
  transition: color 0.3s;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
}

.bottom nav ul li:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.bottom nav ul li a:hover {
  color: #d2dae6;
}

.bottom nav.mobile {
  display: none;
}

@media (max-width: 992px) {

  .bottom nav.mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .bottom nav.mobile button {
    position: relative;
    left: 10px;
  }

  .bottom nav.mobile i {
    color: #838383;
    font-size: 26px;
    padding: 8px 16px;
    border: solid 1px #565656;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
  }

  .bottom nav.mobile i:hover {
    color: #939393;
    border-color: #686868;
  }

  .bottom nav.mobile ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 20px;
    gap: 0;
  }

  .bottom nav.mobile ul li {
    padding: 6px 0;
  }

  .bottom nav.mobile ul li:hover {
    transform: scale(1.1) translateX(10px);
    -webkit-transform: scale(1.1) translateX(10px);
    -moz-transform: scale(1.1) translateX(10px);
    -ms-transform: scale(1.1) translateX(10px);
    -o-transform: scale(1.1) translateX(10px);
  }

  .bottom nav.mobile ul li a {
    padding: 6px 0;
  }

  .bottom nav.mobile ul li:hover a {
    color: #d2dae6;
  }
}

.bottom .box {
  display: flex;
  align-items: center;
  gap: 40px;
}


@media (max-width: 992px) {
  .bottom .box {
    display: block;
    gap: 0;
  }
}

.bottom .img {
  user-select: none;
}

@media (max-width: 1200px) {
  header .bottom .img {
    display: none;
  }
}

.bottom .img img {
  width: 58px;
}

/* Header [End] */







/* Main [Start] */
main {
  margin-bottom: 50px;
  min-height: 80vh;
}

main .container {}

main .exchange-to {
  color: #353562;
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 600;
  font-size: 30px;
  width: fit-content;
  margin: 40px auto;
  visibility: hidden;
}

main .sections {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

main .sections section {
  background-color: #fff;
  color: #353562;
  width: 33.3333%;
  padding: 17px 29px 10px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
}

@media (max-width: 1200px) {
  main .sections section {
    width: calc(50% - 20px); /* 20+20 = 40px of the gap between sections */
  }
}

@media (max-width: 992px) {
  main .sections section {
    width: 100%;
  }
}

main .sections section h3 {
  color: #353562;
  font-size: 28px;
  font-weight: 400;
  width: fit-content;
  margin: 0 auto 14px;
}

main .sections section .input {
  background-color: #f7f7f7;
  width: 100%;
  height: 45px;
  padding: 0 13px;
  font-size: 15px;
  font-weight: 300;
  border: solid 1px #d6d6d6;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  align-items: center;
  user-select: none;
  margin-bottom: 14px;
}

main .sections section .input:last-child {
  margin-bottom: 30px;
}

main .sections section .input input {
  border: none;
  width: 100%;
  padding-right: 10px;
  font-size: 16px;
  color: #353562;
}

main .sections section .input input::placeholder {
  color: rgb(182, 182, 182);
}

main .sections section .input label {
  color: #353562;
  font-weight: 400;
  font-size: 14px;
}

main .sections section .currencies .currency {
  padding: 10px 20px;
  height: 40px;
  user-select: none;
  cursor: pointer;
  font-size: 14px;
}

main .sections section .currencies .currency.active,
main .sections section .currencies .currency:hover {
  border: solid 1px #e5c316;
  color: #0087af;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 9px 19.2px;
}


/* Main [End] */









/* Footer [Start] */
footer {
  background-color: #354247;
  padding: 50px 0;
}

footer .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 992px) {
  footer .top {
    flex-direction: column;
    gap: 30px;
  }
}

footer .top nav ul {
  display: flex;
  align-items: center;
  gap: 20px;
  user-select: none;
}

@media (max-width: 768px) {
  footer .top nav ul {
    flex-direction: column;
    gap: 4px;
  }
}

footer .top nav ul li a {
  text-decoration: underline;
}

footer .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

@media (max-width: 768px) {
  footer .bottom {
    flex-direction: column;
    gap: 40px;
  }
}

footer .bottom .copy-right {
  color: #b7bda2;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 992px) {
  footer .bottom .copy-right {
    flex-direction: row;
    gap: 4px;
  }
}

footer .bottom .copy-right span {
  display: inline-block;
}

footer .bottom .contact {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 8px;
  user-select: none;
}

footer .bottom .contact .img {
  cursor: pointer;
}

footer .bottom .contact .img img {
  width: 124px;
}

footer .bottom .contact i {
  background-color: #45aee4;
  width: 30px;
  height: 30px;
  margin-bottom: 6px;
}

/* Footer [End] */